/**/

* {
	margin: 0;
	padding: 0;
}

#consButton{
  position: relative;
  left: -60px;
  top: 30px;
}
#henkou{
  width:100px;
  position: relative;
  top: 150px;
}
#accept{
  width:100px;
  background: pink;
  color: black;
  position: relative;
  top: 150px;
}
#deConsButton{
  position: relative;
  right: -60px;
  bottom: 20px;
}


#stock-list {
	width: 400px;
  height: 750px;
  position:absolute;
  top: 10px;
  overflow-y: scroll;
  border: 1px solid #ccc
/* bottom:下辺からどれぐらい上へずらすか
left:左辺からどれぐらい右へずらすか
right:右辺からどれぐらい左へずらすか */
}
#stock-list::-webkit-scrollbar{
  display: none;
}


.item{
	margin: auto;
	float: left;
  width: 100px;
  height: 100px;
  position: relative;
  top:0px;
  left:0px;
  list-style: none!important;
  padding: 4px;
  border:1px,solid, #000;
}

.item:nth-child(even){
  background: #eff
}

.item:nth-child(idd){
  background: #fec;
}



#add{
  height:60px;
  position: absolute;
  bottom:30px;
  left :0px;
  width: 100%;
  background: pink;
  display: -webkit-flex;
 display: flex;
 -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
 align-items: center; /* 縦方向中央揃え */
 -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
 justify-content: center; /* 横方向中央揃え */
}


ons-carousel-item {
  display: table;
  text-align: center;
}

.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}
.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}
/* .cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
} */

.detail-content{
  top:100px;
  line-height :1;
}


#stock-badge{
  color:green;
  background:greenyellow;
  position: absolute;
  bottom: 0px;
  left:0px;
}

#BB-badge{
  position: absolute;
  top:0px;
  right:0px;
}


img.gray {
   position: absolute;
  top:10px;
  left:10px; 
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}


.itemImg{
   position: absolute;
  top:10px;
  left:10px; 

}